header {
    background-color: #14274a; /* La cabecera tiene un fondo azul oscuro. */
    color: white; /* El texto dentro de la cabecera es blanco. */
    padding: 15px; /* Añade espacio dentro de la cabecera. */
    display: flex; /* Hace que los elementos dentro del header (el logo y el menú) se organicen horizontalmente. */
    justify-content: center;/* Coloca el logo a la izquierda y el icono del menú a la derecha. */
    align-items: center; /* Centra los elementos verticalmente. */
    position: relative;
}

.logo {
    width: 80px; /*  El logo tiene un ancho fijo de 120 píxeles. */
    margin: 0 auto;
}

.menu-icon {
    position: relative;
    font-size: 24px; /* tamaño del icono del menú */
    cursor: pointer; /* Cambia el cursor al estilo "mano" cuando pasas por encima del icono. */
    color: white; 
    padding: 10px; /* Añade espacio alrededor del icono. */
}

.menu {
    font-size: 30px; /* Aumentar tamaño para visibilidad */
    background-color: transparent; /* Fondo oscuro para destacar */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.sidebar {
    height: 100%; /* El menú ocupará toda la altura de la pantalla. */
    width: 0; /* El ancho del menú lateral es inicialmente 0 (oculto). */
    position: fixed; /* Cambiado a fixed para que se superponga */
    z-index: 1000; /* Asegurar que esté encima del resto del contenido */
    top: 0; /* Posiciona el menú en la esquina superior izquierda. */
    left: 0; /* Posiciona el menú en la esquina superior izquierda. */
    background-color: #14274a; /* El menú es de color azul oscuro. */
    overflow-x: hidden; /* Evita que el menú se desplace horizontalmente. */
    transition: width 0.5s ease; /* Hace que el ancho del menú cambie suavemente cuando se abre o cierra. */
    padding-top: 60px; 
    
}

.sidebar a {
    padding: 8px 8px 8px 32px; 
    text-decoration: none;/* Elimina el subrayado de los enlaces. */
    font-size: 15px; /* El tamaño de la fuente de los enlaces es de 20 píxeles. */
    color: white; /* Color de texto */
    display: block; /* Hace que los enlaces ocupen toda la línea. */
    transition: 0.3s; 
}

.sidebar a:hover {
    color: #f1f1f1; /* Cambiar el color al pasar el mouse */
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logeo {
    position: relative;
    width: 250px;
    height: 300px;
    background-color: white;
    margin: 0 auto; /* Centra horizontalmente */
    top: 35px;
}

.mensajesPequeños1 {
    font-size: 10px;
    color:dimgrey;
    font-family:  'Georgia', serif;
}

.mensajesPequeños2 {
    position: relative;
    font-size: 13px;
    color:dimgrey;
    font-family:  'Georgia', serif;
    left: -3px;
}

.mensajesPequeños3 {
    position: relative;
    font-size: 10px;
    color:dimgrey;
    font-family:  'Georgia', serif;
    
}

.mensajesNormales {
    font-size: 13px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mensajesGrandes {
    font-size: 30px;
    color: black;
    font-family:  'Georgia', serif;
    
}
.centrarElementosHorizontal {
    position: relative;
    text-align: center  ; 
    top: -10px;
}

.colorElementos button {
    background-color: #14274a;
    width: 250px;
    border: 2px solid transparent;
}