
/* Reset de estilos predeterminados */
html {
    height: 100%; /* Asegura que el html tenga altura completa */
}

/* body::before {
    content: ''; */
    /* position: absolute; Cambio a absoluto para cubrir correctamente */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: rgba(10, 10, 100, 0.2); /* Ajusta este valor para cambiar lo oscuro */
    /* z-index: -1; Asegura que el overlay esté detrás del contenido */
/* } */

/* Estilo del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

/* Estilo del menú */
.menu {
    font-size: 30px; /* Aumentar tamaño para visibilidad */
    background-color: transparent; /* Fondo oscuro para destacar */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}


/* Botón de reservar */
.reservar {
    text-align: center; /* Centra el botón dentro de su contenedor */
    margin-top: 20px; /* Espacio entre el logo y el botón */
}

.reservar a {
    background-color: #14274a;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

/* Logo */
.logo {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    color: white;
    font-family: 'Great Vibes', cursive;
}

/* Sección de redes sociales */
.social-media {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    color: white;
}

.social-media a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Footer */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    font-size: 12px;
}
